<html>
<body>
  <% form_tag credential_acceptor_path, :method => :post do %>
    <%= label_tag :username, 'Username' %>
    <%= text_field_tag :username, params[:username] %>
    
    <%= label_tag :password, 'Password' %>
    <%= password_field_tag :password %>
    
    <%= hidden_field_tag :lt, login_ticket %>
    
    <%= hidden_field_tag :service, @manager.service_url %>
    
    <%= submit_tag %>
  <% end %>
</body>
</html>